<h1 class="title-list">List of cocktails</h1>

<div class="cocktails-grid">
  <% @cocktails.each do |cocktail| %>
  <div class="cocktail-card">
    <%= link_to cocktail.name, cocktail_path(cocktail) %>
  </div>
  <% end %>
</div>
