.show-flex {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 100%;
  justify-content: space-evenly;
}

h3 {
  text-align: center;
}

.title-list {
  color: #133b5c;
  text-align: center;
  padding-top: 2rem;
  font-size: 3rem;
  text-shadow: 3px 0 #1e5f74;
  font-style: italic;
  margin-bottom: 30px;
}
