.show-flex {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 100%;
  justify-content: space-evenly;
}

.title-list {
  color: #faf3dd;
  font-family: "Syncopate", sans-serif;
  text-align: center;
  font-size: 3rem;
  font-style: bold;
}
