<div class="container">
  <h1 class="text-center">Add your dose</h1>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description, label: "Quantity" %>
    <%= f.association :ingredient %>
    <%= f.submit "Add a new dose", class: 'btn btn-warning' do%>
      <% end %>
      <% end %>
  </div>

