@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
}

.home-banner {
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding-top: 40vh;
  color: wheat;
  text-align: center;
  padding-top: auto;
  border: groove 2px #faf3dd;
  -moz-border-radius-topleft: 50px;
  -moz-border-radius-topright: 50px;
  -moz-border-radius-bottomleft: 50px;
  -moz-border-radius-bottomright: 50px;
  -webkit-border-top-left-radius: 50px;
  -webkit-border-top-right-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.banner-txt {
  color: #e6739f;
  h1 {
    font-family: "Syncopate", sans-serif;
    color: wheat;
    font-weight: 700;
    letter-spacing: 1rem;
    margin-bottom: 8rem;

    :hover {
      border: groove 2px #faf3dd;
      padding: 1rem 1rem 1rem 1rem;
      border-radius: 2rem;
    }
  }
  a {
    text-decoration: none;
    color: wheat;
  }

  h2 {
    font-family: "Syncopate", sans-serif;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.8rem;
  }
}
