@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");

.cocktail-card {
  height: 200px;
  border: solid 2px #3e551f;
}

.cocktail-name {
  width: 100%;
  text-align: center;
  padding: 5rem;
  a {
    color: #f2e982;
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-size: 1.5rem;
  }
}
