@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");

.navbar {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Rowdies", cursive;
  font-style: italic;
  font-weight: bold;
  font-size: 32px;
  padding: 1rem 2rem 4rem 2rem;
  a:hover {
    color: lightseagreen;
  }
}

h3 {
  color: black;
  text-align: right;
  padding-bottom: 2rem;
}

/*
  .navbar-lewagon {
    justify-content: space-between;
    background: white;
  }
  
  .navbar-lewagon .navbar-collapse {
    flex-grow: 0;
  }
  
  .navbar-lewagon .navbar-brand img {
    width: 40px;
  }
  */
