@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&display=swap");

.logo {
  color: #f2e982;
  font-family: "Rowdies", cursive;
  font-style: italic;
  font-weight: bold;
  font-size: 32px;
  padding: 8px;
}

.navbar {
  background-color: #3e551f;
}

.title-list {
  color: #84b643;
  /*font-family: "Kanit", sans-serif;*/
  text-align: center;
  padding-top: 2rem;
  font-size: 3rem;
  text-shadow: 3px 0 #3e551f;
  font-style: italic;
}

h3 {
  color: black;
  text-align: right;
  padding-bottom: 2rem;
}

body {
  background-color: #2d2a2e;
}

.add-btn-main {
  color: #f2e982;
  border-style: solid, 2px, #f2e982;
  padding: 19px;
}

/*
  .navbar-lewagon {
    justify-content: space-between;
    background: white;
  }
  
  .navbar-lewagon .navbar-collapse {
    flex-grow: 0;
  }
  
  .navbar-lewagon .navbar-brand img {
    width: 40px;
  }
  */
