@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");

.navbar {
  text-align: right;
  display: block;

  text-align: right;
  font-family: "Rowdies", cursive;
  font-style: italic;
  font-size: 32px;
  padding: 1rem 2rem 4rem 2rem;
}

#list.navbar {
  padding-right: 0rem;
  a {
    color: #e6739f;
    font-family: "Syncopate", sans-serif;
  }
}
/*
  .navbar-lewagon {
    justify-content: space-between;
    background: white;
  }
  
  .navbar-lewagon .navbar-collapse {
    flex-grow: 0;
  }
  
  .navbar-lewagon .navbar-brand img {
    width: 40px;
  }
  */
